
/* doing mobile design FIRST because of issues with responsive design i think this will be better*/

.splash {
    
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    display: block;
    opacity: 0.9; 
    /*using block display lets them sit less awkwardly */
       
}



.hey {
    font-size: 2.2em;
    margin: 20px 0;
    

     /* moved from left to center *//
}



.webdev {
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;

    /* max width instead of min width */
}



/* using nav tag instead of navBar class for formatting*/ 
nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    background: #ffffffcc;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
}




.navBar { /* the class is for the design not the formatting */
    text-decoration: none;
    color: #5a3d5c;
    font-weight: bold;
    font-size: 16px;
}




header {
    padding: 40px 20px;
}


button { /* so those b1 and b2 classes from earlier were useless i forgot we could just use the selector lol*/
    background-color: #b587cf;
    border-width: 2px; /* modifying border using these 3 different border properties */
    border-style: solid;
    border-color: rgb(130, 15, 141);
    color: white;
    padding: 12px 18px;
    font-size: 16px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}




/* new responsive design chrome dev tools tested lol */ 
/* Tablet  */
@media (min-width: 600px) {

    .hey {
        font-size: 2.8em;
    }

    .webdev {
        max-width: 350px;
    }
}

/* Desktop  */
@media (min-width: 900px) {

    header {
        max-width: 900px;
        margin: 0 auto;
    }

    .splash {
        max-width: 600px;
    }
}

