/* moving these to style.css instead of index.css bc they are styles */

body {
    margin: 0;
    font-family:  Consolas, Arial, Verdana, sans-serif;
    background: #f7f3f9;
    color: #333;
    text-align: center;

       /* later i might switch to centered layout for a portfolio look */
}


font-face {
    font-family: Consolas;
    src: url('../fonts/Consolas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navBar:hover {
    color: #b587cf;
}

button:hover {
    background-color: #9f6fc0;
    transform: translateY(-2px); /* this ones so cool omg */
}

html {
    scroll-behavior: smooth;
}
