
/* doing mobile design FIRST because of issues with responsive design i think this will be better*/
body {
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
    background: #f7f3f9;
    color: #333;
    text-align: center;

       /* later i might switch to centered layout for a portfolio look */
}



.splash {
    width: 200%;
    max-width: 950px;
    position: absolute;
    top: 20px;

    /* this is risky for responsive design might be bad for responsivie design idk */
       
}



.hey {
    font-size: 2.5em;
    margin-bottom: 10px;
    padding-top: 80px;
    padding-inline: 20px;

    /* padding-top is pushing layout down manually
        flexbox could prolly handle spacing cleaner */
}



.webdev {
    width: 650px;
    padding-right: 20px;

    /* fixed width = might not scale well on small screens
       i will consider max-width later */
}




.navBar {
    /* empty right now lol*/
}




.b1 {
    background-color: #b587cf;
    border: 1px #333;
    color: rgb(61, 44, 47);
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.b1:hover {
    color: #ffffff;
}


/* duplicated styling (b2 is same as b1)
   later i might just put them into a class or container */
.b2 {
    background-color: #b587cf;
    border: #333;
    color: rgb(61, 44, 47);
    padding: violet;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.b2:hover {
    color: #ffffff;
}




@media screen and (max-width: 600px) {
    .column {
        width: 100%;

        /* this class doesn't exist in my HTML yet
           lol */
    }
}

