    body {
    background-color: #f0f0f0;
    font-family: 'Arial', 'Verdana', sans-serif;
    color: #333;
    text-align: left;
                
    }


        
    .splash {
    width: 200%;
    max-width: 950px;
    position: absolute;
    top: 20px;
    
    
                            
    }

    .hey {
    font-size: 2.5em;
    margin-bottom: 10px;
    padding-top: 80px;
    padding-inline: 20px;
    }


    .webdev{
    width: 650px;
    padding-right: 20px;
                
    }           

    .navBar {
        
    }

    .b1 {

        background-color:#b587cf;
        border:#333;
        color: rgb(61, 44, 47);
        padding: violet;
        font-size: 20px;
        cursor: pointer; 
        border-radius: 5px;
        
    }

    
    .b1:hover {
        color:#ffffff
    }
    .b2 {

        background-color:#b587cf;
        border:#333;
        color: rgb(61, 44, 47);
        padding: violet;
        font-size: 20px;
        cursor: pointer; 
        border-radius: 5px;
        
    }

    .b2:hover {
        color:#ffffff
    }

    @media screen and (max-width: 600px) {
    .column {
    width: 100%;
    }
    }

    